TWILIO_ACCOUNT_SID=XXX
TWILIO_AUTH_TOKEN=XXX
TWILIO_PHONE_NUMBER=+NNN

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000


WEBSOCKET_URL=https://xyz.com
PORT=3000
DEEPGRAM_API_KEY=XXX
OPENROUTER_API_KEY=XXX